.HeaderLine {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #252525;
}

img {
    width: 50px;
    line-height: 80px;
    padding: 15px 15px 15px 30px;
}