#loginForm {
    width: 400px;
    height: 500px;
    border: 1.5px solid #dddddd;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#loginLogo {
    width: 70px;
    margin-bottom: 30px;
}
#loginForm input {
    width: 280px;
    height: 48px;
    border: none;
    border-radius: 0.5em;
    background-color: #eee;
}
#loginForm input[type="submit"] {
    cursor : pointer;
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(66, 184, 131);
    color: #fff;
}
#loginForm input:focus {
    outline: none;
}

.inputBox {
    width: 300px;
    height: 48px;
    font-size: 16px;
    border-radius: 0.5em;
    border: 1.5px solid #dddddd;
    padding-left: 20px;
    background-color: #eee;
    margin: 0 auto;
}
.inputBox:first-child {
    margin-bottom: 16px;
}

.hint {
    text-align: left;
    width: 300px;
    height:24px;
    font-size: 12px;
    color: red;
    padding-left: 30px;
    float : left;
    margin-left: 10px;
}
