.HeaderLine {
    z-index: 0;
    height: 80px;
    width: calc(100% - 210px);
    background-color: #fdfdfd;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding-left: 210px;
    left: 0;
    top: 0;
}

#search-box {
    width: 250px;
    height: 40px;
    margin-left: 30px;
}
#user {
    width: 300px;
    height: 100%;
    display: flex;
    margin-right: 30px;
}

#username {
    font-weight: 700;
    line-height: 80px;
    width: 100px;
}

#mypage, #logout {
    width: 80px;
    height: 32px;
    margin-top: 24px;
    cursor: pointer;
}
#mypage {
    margin-right: 8px;
}
#logout {
    margin-left: 8px;
}

.part {
    margin-top: 30px;
}